{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<div class="my-page">
    <h1 class="is-size-3">{{'category.create' |trans }}</h1>
    
    {{ include('category/_form.html.twig') }}

    <a class="form-button button is-link" href="{{ path('app_category_index') }}"> {{'back' |trans }} </a>
</div>
{% endblock %}
