{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
<div class="my-page">
    <h1 class="is-size-3">{{'book.create' |trans }}</h1>

    {{ include('book/_form.html.twig') }}

    <a class="form-button button is-link" href="{{ path('app_book_index') }}">{{'back' |trans }}</a>
</div>
{% endblock %}
